html,body{
    padding:0;
    margin: 0;
    height: 100%;
}
body{
    font-family: '微软雅黑';
}
.wrapper{
    width: 100%;
    height: 100%;
    background: #E5F3F7;
    padding: 50px;
    box-sizing: border-box;
}
.wrapper p{
    margin: 0;
    line-height: 30px;
}
.author, .code{
    cursor: pointer;
}